body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/*Introduction*/

.intro-words button {
    padding: 8px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    color: white;
    padding: 8px 200px;
    padding-bottom: 80px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links ul {
    margin: 0px;
    margin-bottom: 100px;
    padding: 0px;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.logo {
    font-weight: 900;
}

.page-intro {
    display: flex;
    justify-content: space-between;

}

.intro-words {
    display: flex;
    flex-direction: column;
    width: 420px;
    flex-wrap: wrap;

}

.words-heading {
    font-weight: 1000;
    font-size: 24px;
    margin-bottom: 12px;
}

.words-para {
    margin-bottom: 12px;    
}

.img-place {
    width: 400px;
    height: inherit;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Middle content*/

/*Some info*/
.info {
    padding-top: 30px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mick {
    font-size: 2em;
    margin-bottom: 40px;
    font-weight: 900;
}

.box-container {
    display: flex;
    gap: 50px;
}

.box {
    width: 250px;
    height: 250px;
    border: 4px solid #3882F6;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 10px;
}

.inner-box-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 250px;
    font-size: 16px;
}

/*Quote*/
.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E7EB;
    padding: 80px 100px;
}

.quote-container {
    width: 800px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    margin-bottom: 20px;
}

.quote-credit {
    text-align: right;
    font-weight: 1000;
    font-size: 18px;
}