.body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: column;
    background: #1F2973
}

.links {
    display: flex;
    justify-content: space-between;
}

.links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
}