body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

button {
    padding: 8px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    color: white;
    padding: 8px 200px;
    padding-bottom: 80px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links ul {
    margin: 0px;
    margin-bottom: 100px;
    padding: 0px;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.logo {
    font-weight: 900;
}

.page-intro {
    display: flex;
    justify-content: space-between;

}

.intro-words {
    display: flex;
    flex-direction: column;
    width: 420px;
    flex-wrap: wrap;

}

.words-heading {
    font-weight: 1000;
    font-size: 24px;
    margin-bottom: 12px;
}

.words-para {
    margin-bottom: 12px;    
}

.img-place {
    width: 400px;
    height: inherit;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
